h1{
	color: yellow;
	background-color: green;
}
.headding1{
	color: brown;
	background-color: black;
}
h2{
	color: red;
	background-color: green;
}
#h2{
	color: yellow;
	background-color: black;
}

.box{
	color: red;
	background-color: black;
	padding: 20px;
	margin: 10px;

}